
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Otp</title>
    <style>
        body { font-family: Arial, sans-serif; color: #333; }
        .container { max-width: 600px; margin: 0 auto; padding: 20px; }
        .button { background-color: #0066cc; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; }
    </style>
</head>
<body>
<div class="container">
    <h2>New Password</h2>
    <p>Password have updated from our side to this: </p>
    <span th:text="${password}">password</span>
    <p>If you didn’t request this, please ignore this email.</p>
</div>
</body>
</html>